html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 1000px;
    margin: auto;
    overflow-x: auto;
    background: white;
    font-family: 'Lato', sans-serif;
    background-image: url("../images/background.png");
    background-repeat: round;
    background-position: center;
    background-size: cover;
}

.form {
    text-align: center;
    padding: 50px;
}

.form__legend {
    text-align: center;
    font-size: 34px;
    font-weight: bolder;
    letter-spacing: 3px;
    padding: 10px;
}

.form__fieldset {
    text-align: center;
    border: solid 1px black;
    background-color: rgba(255, 255, 255, 0.489);
}

.form__paragraph {
    font-size: 20px;
}

.form__button {
    padding: 8px;
}